.input-container {
    width: 70vw;
    margin: 10px;
}

.ui.input>input {
    border-radius: 15px;
}

 .searchbtn {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.no-results-msg {
    text-align: center;
}

.ui.active.centered.inline.loader {
    margin: 20px auto;
}

@media only screen and (max-width: 768px) { 
    .ui.fluid.action.input {
        display: flex;
    }

    .input-container {
        margin: auto;
    }
}

