.segment.curr-weather-container {
    border-radius: 15px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
}

.curr-weather-h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: rgb(100, 111, 124);
}

.weather-details-container {
    display: flex;
    align-items: center;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 20rem;
}

.right-box {
    display: flex;
    flex-direction: column;
}

.weather-details {
    margin: 10px;
}

.weather-state {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: rgb(37, 68, 95);
    margin: 15px;
}

h4.detail {
    color: rgb(123, 152, 178);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin: 15px;
}

h4.city-name {
    font-size: 1.5rem;
    color: rgb(37, 68, 95);
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    height: fit-content;
}

.weather-img {
    width: 100px;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .segment.curr-weather-container {
        width: 60%;
        margin:15px auto;
        padding: 1.2rem 1.5rem;
    }

    .h4.detail {
        margin: 5px;

    }
}