.segment.curr-weather-container {
    border-radius: 15px;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 70vw;
}

.curr-weather-h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: rgb(100, 111, 124);
}

.weather-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 15rem;
}

.right-box {
    display: flex;
    flex-direction: column;
}

.weather-details {
    margin: 10px;
}

.weather-state {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: rgb(37, 68, 95);
    margin: 15px;
}

h4.detail {
    color: rgb(123, 152, 178);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin: 15px;
}

h4.city-name {
    font-size: 1.5rem;
    color: rgb(37, 68, 95);
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    height: fit-content;
}

.weather-img {
    width: 100px;
    margin: 10px;
}

h4.orange {
    color: rgb(233, 190, 111);
}

h4.blue {
    color: #3BC9E6;
}

@media only screen and (max-width: 768px) {
    .segment.curr-weather-container {
        margin:15px auto;
        padding: 1.1rem 1.2rem;
        width: 80vw;
    }

    h4.detail {
        margin: 5px;
        padding: 5px;
        font-size: 1.1rem;
        text-align: center;
    }
}